body{
    background-color: rgb(120, 140, 255);
}

h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    
}

p{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 5px 5px 10px  rgb(0, 0, 0);

}

#survey-form{
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
    width: 350px;
   border-radius: 15px;
   font-family: sans-serif;


}


label {
    font-weight: bold;
    font-style: italic;
    
}

.label-title {
    color: rgb(29, 29, 29);
    
}

input, select option {
    border-radius: 5px;
    padding: 7px;
}

textarea{
    padding: 10px;
    border-radius: 10px;

}

button{
    color: white;
    background-color: black;
    width: 50%;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
}