body{
    background-color: rgb(255, 245, 187);
}

h1{
    font-size: 4rem;
}

.text-center{
    text-align: center;
}

.photo{
    display: block;
    width: 900px;
    border-radius: 15px;    
    margin: 0 auto;  
    box-shadow: 0 0 15px black;
}

figcaption{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 50px;
}

nav{
    margin-top: ;
    display: flex;
    justify-content: center;
    
}

.menu{
    background-color: rgb(201, 201, 201);
    width: 600px;
    max-width: 90%;
    padding: 20px;
    padding-left: 0;  
    border: 2px solid black;
    border-radius: 8px;
    text-align: unset;      
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0 auto;
}

a{
    text-decoration: none;

}

li{
    list-style: none;       
    font-size: 2rem;
    margin: 0;
    
    
}

#about{
    background-color: rgb(255, 255, 255);
    width: 1200px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 8px 0 0 rgba(0, 0, 0, 0.267);    
    margin:  50px auto;

}
h2{
    font-size: 3.5rem;
    margin-top: 35px;
    text-decoration: underline;
    
}

.texta{
    font-size: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
    
}

#about p:last-of-type{
    margin-bottom: 80px;
}

#posts{
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin: 40px auto;
    padding-left: 55px;
    padding-right: 55px;
}

#posts h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#posts h3 {
    font-size: 2rem;

}

#posts article {
    flex: 1;                  /* Todos ocupan el mismo ancho */
    min-width: 250px;         /* Ancho mínimo antes de bajar */
    max-width: 90%;         /* Ancho máximo */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    box-shadow: 10px 8px 0 0 rgba(0, 0, 0, 0.267);
}

#posts p {
    font-size: 20px;
}

#contact{
    display: block;
   
    margin:0 auto;
    margin-bottom: 90px;
}

#contact h2{
    text-align: center;

}

#contact address{
    background-color: white;
    margin: 0 auto;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    box-shadow: 10px 8px 0 0 rgba(0, 0, 0, 0.267);
    border-radius: 25px;

}